.idea/libraries/Dart_SDK.xml
.idea/flutter-cookbook-project.iml
.idea/modules.xml
.idea/codeStyles/Project.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/libraries/Dart_Packages.xml
flutter_app/lib/video-processing/pubspec.lock
flutter_app/pubspec.lock
